/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
}
.app-container {
  background-color: #ffffff;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cash-withdraw-container {
  background-color: #382f5a;

  width: 80%;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .cash-withdraw-container {
    background-color: #382f5a;

    width: 50%;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
    padding-bottom: 16px;
    border-radius: 16px;
  }
  .initial-container {
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
  .name {
    font-size: 20px;
    margin-left: 16px;
  }
  .your-balance {
    font-size: 24px;

    margin-top: 8px;
  }
  .balance {
    font-size: 32px;
  }
  .currency {
    font-size: 16px;
  }
  .withdraw {
    font-size: 26px;

    margin-top: 24px;
  }
  .choose-sum {
    font-size: 16px;

    margin-bottom: 16px;
  }
}
.name {
  color: #c7d2fe;
  font-size: 16px;
  margin-left: 8px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.intial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}
.balance {
  color: #d4d2db;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.your-balance {
  color: #585076;
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
.user-detail-container {
  display: flex;
}
.initial-container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 24px;
  width: 24px;
  border-radius: 24px;
}
.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}
.withdraw {
  color: #d4d2db;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}
.choose-sum {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}
.denominaton-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
